<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StartBoot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControlAction</servlet-name>
    <servlet-class>controller.ControlAction</servlet-class>
    <init-param>
      <param-name>propertyConfig</param-name>
      <param-value>C:/Users/stardom/Desktop/4jo/sou/StartBoot/WebContent/WEB-INF/commandPro.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlAction</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>